:root {
    --component-bg-color: rgba(10, 10, 10, 0.7);
    --text-color: rgb(150, 150, 150);
    --accented-text-color: rgb(255, 255, 255);
}

body {
    font-family: sans-serif;
}

a {
    color: lightblue;
}

a:active {
    color: orangered;
}

a:visited {
    color: mediumpurple;
}

::-moz-selection ::selection {
    color: blue;
}

nav#navbar {
    display: flex; /* make it from left to right */
    flex-direction: row;
    background-color: var(--component-bg-color);
    background-clip: padding-box;
    padding-left: 10px;
    padding-right: 10px;
}

#leftnav {
    padding-right: 10px;
}

#rightnav {
    padding-left: 10px;

    /* make this part right justified */
    margin-left: auto;
    margin-right: 0;
}

#legcontainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#leginfo {
    width: 15em;
}

#legislation {
    width: 100%;
}

@media only screen and (max-width: 280px) {
    #rightnav {
        display: none;
    }
}
@media only screen and (max-width: 570px) {
    #legcontainer {
        flex-direction: column;
        padding-right: 10px;
    }
    #leginfo {
        width: 100%;
    }
}

.no-margin-top {
    margin-top: 0px;
}

.boxed {
    margin-top: 10px;
    padding: 5px;
    padding-top: 0px;
    border: solid 1px;
    background-color: var(--component-bg-color);
    border-radius: 5px;
}

.legnumbers {
    text-align: right;
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--accented-text-color);
}

p, td, i, ul, li {
    color: var(--text-color);
}
