<!DOCTYPE html>
<html>
    <head>
        {% if page_title %}
        <title>explorer - {{ title }}</title>
        {% else %}
        <title>explorer</title>
        {% endif %}

        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <nav id="navbar" class="boxed">
            <div id="leftnav">
                <a href="/explorer">explorer</a>
                <a href="/knowledge">knowledge</a>
            </div>
            <div id="rightnav">
                <a href="/explorer/all">all</a>
                <a href="/explorer/groups">by group</a>
                <a href="/explorer/search">search</a>
                <a href="/explorer/stats">stats</a>
            </div>
        </nav>

        {% block content %}
        {% endblock content %}
    </body>
</html>
