{% extends "explorer/base.html" %}

{% block content %}
{% if legislation.is_bill %}
    <link rel="stylesheet" type="text/css" href="/static/tn.css" />
{% elif legislation.is_resolution %}
    <link rel="stylesheet" type="text/css" href="/static/un.css" />
{% endif %}

<div id="legcontainer">
    <div id="leginfo" class="boxed">
        <h1 class="no-margin-top">{{ legislation.legislation_title }}</h1>

        <p><i>{{ legislation.assembly }}/{{ legislation.committee }}/{{ legislation.docket_order }}</i></p>

        <p>Sponsored by {{ legislation.sponsors }} of <a href="/explorer/schools/{{ legislation.school.id }}">{{ legislation.school }}</a></p>

        {% if legislation.country %}
        <p>The delegates above represented the <a href="/explorer/countries/{{ legislation.country.id }}">Delegation of {{ legislation.country }}</a>.</p>
        {% endif %}

        <p>Presented as part of the <a href="/explorer/conference/{{ legislation.from_book.id }}">{{ legislation.from_book.name }}</a> conference</p>
    </div>

    <div id="legislation" class="boxed">
        <table>
            {% for line in lines %}
            <tr>
                <td class="legnumbers">{{ line.linenumber }}</td>
                <td>{{ line.linetext }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}
